@font-face {
    font-family: "Montserrat Black";
    src: url(./Montserrat-Black.ttf);
    src: url(Montserrat-Black.ttf) format('ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Montserrat Black";
    src: url(./Montserrat-BlackItalic.ttf);
    src: url(Montserrat-BlackItalic.ttf) format('ttf');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: "Montserrat";
    src: url(./Montserrat-Bold.ttf);
    src: url(Montserrat-Bold.ttf) format('ttf');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: "Montserrat";
    src: url(./Montserrat-BoldItalic.ttf);
    src: url(Montserrat-BoldItalic.ttf) format('ttf');
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: "Montserrat";
    src: url(./Montserrat-ExtraBold.ttf);
    src: url(Montserrat-ExtraBold.ttf) format('ttf');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: "Montserrat";
    src: url(./Montserrat-ExtraBoldItalic.ttf);
    src: url(Montserrat-ExtraBoldItalic.ttf) format('ttf');
    font-weight: 900;
    font-style: italic;
}
@font-face {
    font-family: "Montserrat";
    src: url(./Montserrat-ExtraLight.ttf);
    src: url(Montserrat-ExtraLight.ttf) format('ttf');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: "Montserrat";
    src: url(./Montserrat-ExtraLightItalic.ttf);
    src: url(Montserrat-ExtraLightItalic.ttf) format('ttf');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: "Montserrat";
    src: url(./Montserrat-Light.ttf);
    src: url(Montserrat-Light.ttf) format('ttf');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: "Montserrat";
    src: url(./Montserrat-LightItalic.ttf);
    src: url(Montserrat-LightItalic.ttf) format('ttf');
    font-weight: 200;
    font-style: italic;
}
@font-face {
    font-family: "Montserrat";
    src: url(./Montserrat-Medium.ttf);
    src: url(Montserrat-Medium.ttf) format('ttf');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: "Montserrat";
    src: url(./Montserrat-MediumItalic.ttf);
    src: url(Montserrat-MediumItalic.ttf) format('ttf');
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: "Montserrat";
    src: url(./Montserrat-Regular.ttf);
    src: url(Montserrat-Regular.ttf) format('ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Montserrat";
    src: url(./Montserrat-Italic.ttf);
    src: url(Montserrat-Italic.ttf) format('ttf');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: "Montserrat";
    src: url(./Montserrat-SemiBold.ttf);
    src: url(Montserrat-SemiBold.ttf) format('ttf');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: "Montserrat";
    src: url(./Montserrat-SemiBoldItalic.ttf);
    src: url(Montserrat-SemiBoldItalic.ttf) format('ttf');
    font-weight: 600;
    font-style: italic;
}
@font-face {
    font-family: "Montserrat Thin";
    src: url(./Montserrat-Thin.ttf);
    src: url(Montserrat-Thin.ttf) format('ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Montserrat Thin";
    src: url(./Montserrat-ThinItalic.ttf);
    src: url(Montserrat-ThinItalic.ttf) format('ttf');
    font-weight: 100;
    font-style: italic;
}